.modal-overlay {
    top: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0.7);
    z-index: 2;
}

.modal-body {
    top: 25px;
    left: 0;
    z-index: 2;
}

.content-maximum {
    max-width: 1000px !important;
    max-width: 700px !important;
}