.modal-overlay {
    top: 0;
    left: 0;
    background-color: rgba(66, 33, 33, 0.37);
    z-index: 2;
}

.modal-body {
    top: 25px;
    left: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content-maximum {
    max-width: 1000px !important;
    max-width: 700px !important;
}