<div *ngIf="banner.isEnabled" class="container" [ngClass]="{'is-hidden': isBannerHidden()}">
	<div class="card" [ngClass]="'has-background-' + bannerType.background">
		<div class="is-flex p-3">
			<div class="card-header-title">
				<span class="mr-3 icon medium">
					<i class="fa fa-exclamation-triangle" [ngClass]="bannerType.icon"></i>
				</span>

				<label class="mr-3 is-uppercase is-underlined">
					{{banner.label}}
				</label>

				<div *ngIf="banner.imageUrl" class="mr-3">
					<figure class="image is-128x128 is-1by1">
						<img [src]="banner.imageUrl">
					</figure>
				</div>

				<div *ngIf="banner.videoUrl" class="mr-3">
					<video controls width="250">
						<source [src]="banner.videoUrl" type="video/mp4">

						Sorry, your browser doesn't support embedded videos.
					</video>
				</div>

				<span *ngIf="banner.content" class="mr-3">
					{{banner.content}}
				</span>

				<span>
					<div *ngIf="banner.action.url; else simpleAction" class="is-underlined">
						<a [href]="banner.action.url" (click)="onActionButtonClick()">
							{{banner.action.text}}
						</a>
					</div>
					<ng-template #simpleAction>
						{{banner.action.text}}
					</ng-template>
				</span>

			</div>
			<span class="my-3 is-pulled-right icon medium pointer" (click)="onCrossButtonClick()">
				<i class="fa fa-times"></i>
			</span>
		</div>
	</div>
</div>