<div *ngIf="enabled" class="container" [ngClass]="{'is-hidden': isBannerHidden()}">
	<div class="card" [ngClass]="'has-background-' + bannerType.background">
		<div class="is-flex p-3">
			<div class="card-header-title">
				<span class="mr-3 icon medium">
					<i class="fa fa-exclamation-triangle" [ngClass]="bannerType.icon"></i>
				</span>

				<label class="mr-3 is-uppercase is-underlined">
					{{label}}
				</label>

				<div *ngIf="imageUrl" class="mr-3">
					<figure class="image is-128x128 is-1by1">
						<img [src]="imageUrl">
					</figure>
				</div>

				<div *ngIf="videoUrl" class="mr-3">
					<video controls width="250">
						<source [src]="videoUrl" type="video/mp4">

						Sorry, your browser doesn't support embedded videos.
					</video>
				</div>

				<span *ngIf="content" class="mr-3">
					{{content}}
				</span>

				<span class="is-underlined">
					<div *ngIf="actionUrl; else simpleAction">
						<a [href]="actionUrl" (click)="onActionButtonClick()">
							{{action}}
						</a>
					</div>
					<ng-template #simpleAction>
						{{action}}
					</ng-template>
				</span>

			</div>
			<span class="my-3 is-pulled-right icon medium">
				<i class="fa fa-times"></i>
			</span>
		</div>
	</div>
</div>